.my-item{
    padding: 2vw !important;
}

.div-close-icon{
    float: right;
    font-size: 1.5em;
}

#button-continue-shopping{
    background-color: #2f2b2b;
    color: white;
    border: solid 1px black;
}

#button-checkout{
    background-color: #E1A616;
    color: #2f2b2b;
    border: solid 1px #743e05;
}

#div-shopping-cart{
    padding: 2% 10%;
}

#buttons-shopping{
    float: right;
}
