@import "./colors.less";

#title {
  font-size: x-large;
  font-weight: bolder;
}

#shopping-cart {
  padding: 2% 10%;

  .close.icon {
    font-size: 1.5em !important;
  }

  #cart-actions {
    float: right;

    #checkout {
      background: @orange;
      color: @black;
      border: solid 1px @brown;
    }
  }
}